<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/log-out">LOG OUT</a>
    <a href="/post/create">CREATE NEW POST</a>
  <% } else { %>
    <a href="/login">LOGIN</a>
  <%}%>
</body>
</html>
