<h1>Sign up</h1>
<form action="/sign-up" method="POST">
    <label for="firstname">First name</label>
    <input name="firstname" placeholder="firstname" type="text" />
    <label for="lastname">Last name</label>
    <input name="lastname" placeholder="lastname" type="text" />
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button>Sign up</button>
</form>